* {
  box-sizing: border-box;
}
html , body{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 1300px;
  margin: 0 auto;
}
.main {
  background-image: url("../img/slosadmi/foto9.jpg");
  background-size: cover;
  background-position-y: 50%;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin:0;
  &__item {
    margin-left: 35px;
  }
  &__link {
    text-decoration: none;
    color: #1c1c1c;
    font-family: 'Roboto Slab', serif;
    &:hover {
      color: #0057C9;
    }
  }
}
.sub {
  list-style-type: none;
  display: none;
  position: absolute;
  padding:0;
  &__link {
    text-decoration: none;
    color: #1c1c1c;
    &:hover{
      color: #0057C9;
    }
  }
}
.nav>li:hover .sub {
  display: block;
}
.about {
  margin-bottom: 30px;
  &__text {
    margin: 0 auto;
    width: 1000px;
    font-family: 'Roboto Slab',Serif;
  }
}
.photo {
  display: flex;
  justify-content: space-evenly;
  &__ser {
    background-image: url("../img/ser.jpeg");
    width: 400px;
    height: 600px;
    background-size: cover;
  }
  &__foto {
    background-image: url("../img/i6.jpg");
    width: 400px;
    height: 600px;
    background-size: cover;
  }
}
.my {
  background-color: #EFECEC;
}
.Contacts {
  &__foto {
    background-image: url("../img/slosadmi/foto1.jpg");
    width: 826px;
    height: 590px;
    background-size: contain;
    margin: 0 auto;
  }
}
.section-form {
  padding-top: 122px;
  padding-bottom: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 0 auto;
  &__input, &__textarea {
    border: none;
    border-bottom: 1px solid;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    outline: none;
  }
  .btn {
    background-color: #000;
    color: #fff;
    border-radius: 100px;
    padding: 20px 40px;
    width: 240px;
    max-width: 100%;
    margin-top: 50px;
  }
}
.svaz {
  display: flex;
  justify-content: space-evenly;
}


  .footer {
    height: 300px;
    background-color: #EFECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      text-align: center;
      font-size: 15px;
      font-family: 'Roboto Slab', serif;
      flex-basis: 50%;
    }
    .soc {
      text-align: center;
      flex-basis: 50%;
    }
  }



