* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("bebasneueregular.woff2") format("woff2"), url("bebasneueregular.woff") format("woff"), url("bebasneueregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Adventure";
  src: local("Adventure Regular");
  font-style: normal;
  font-weight: 400;
}
html, body {
  height: 100%;
}

h1, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

.wrap {
  width: 1300px;
  margin: 0 auto;
}

.main {
  background-image: url("../img/obl.jpg");
  background-size: cover;
  height: 100%;
  background-position-y: 45%;
}
.main .text1 {
  width: 777px;
  backdrop-filter: blur(5px);
  border-radius: 30px;
  bottom: -34px;
  right: 30px;
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  background: rgba(255, 255, 255, 0.11);
  font-family: "Adventure";
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #58788c8c;
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.nav__item {
  margin-left: 35px;
}
.nav__link {
  text-decoration: none;
  color: #EDFFFB;
  font-family: "Bebas Neue";
  font-size: 22px;
  font-weight: bold;
}
.nav__link:hover {
  color: #0057C9;
}

.sub {
  list-style-type: none;
  display: none;
  position: absolute;
  padding: 0;
}
.sub__link {
  text-decoration: none;
  color: #1c1c1c;
}
.sub__link:hover {
  color: #0057C9;
}

.nav > li:hover .sub {
  display: block;
}

.about {
  margin-bottom: 30px;
}
.about__text {
  margin: 0 auto;
  width: 1000px;
  font-family: "Roboto Slab", serif;
}

.gamburger {
  position: sticky;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: none;
}

.photo {
  display: flex;
  justify-content: space-evenly;
}
.photo__ser {
  background-image: url("../img/ser.jpeg");
  width: 400px;
  height: 600px;
  background-size: cover;
}
.photo__foto {
  background-image: url("../img/i6.jpg");
  width: 400px;
  height: 600px;
  background-size: cover;
}

.my {
  background-color: #EFECEC;
}

.Contacts__foto {
  background-image: url("../img/slosadmi/foto1.jpg");
  width: 1150px;
  height: 640px;
  background-size: cover;
  margin: 0 auto;
  background-position-y: bottom;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 550px;
}
.form__input, .form__textarea {
  border: none;
  border-bottom: 1px solid;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  outline: none;
}
.form .btn {
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  padding: 20px 40px;
  width: 240px;
  max-width: 100%;
  margin-top: 50px;
}

.svaz {
  display: flex;
  justify-content: space-evenly;
}

.section-portfolio1 {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}

.portfolio {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.portfolio div {
  margin-bottom: 20px;
}
.portfolio .photo1 {
  background-image: url("../img/slosadmi/foto11.jpg");
  background-size: cover;
}
.portfolio .photo2 {
  background-image: url("../img/slosadmi/foto8.jpg");
  background-size: cover;
}
.portfolio .photo3 {
  background-image: url("../img/slosadmi/foto5.jpg");
  background-size: cover;
}

.horse-text {
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
}

.text-top {
  font-family: "Bebas Neue", cursiv;
  font-size: 23px;
  margin-top: 41px;
  margin-bottom: 10px;
}

.footer {
  height: 300px;
  background-color: #58788c8c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .text {
  text-align: center;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  flex-basis: 50%;
}
.footer .soc {
  text-align: center;
  flex-basis: 50%;
}

.s-you-horse {
  margin-top: 50px;
  margin-bottom: 50px;
}

.foto-horse {
  width: 1200px;
  height: 798px;
  background-image: url("../img/klub.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -430px;
  margin: 0 auto;
}

.foto-you-horse {
  width: 1200px;
  height: 798px;
  background-image: url("../img/you.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.foto-pets {
  width: 1200px;
  height: 798px;
  background-image: url("../img/pets.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-family: "Bebas Neue", cursiv;
  font-size: 30px;
  margin-bottom: 20px;
}

.important {
  width: 490px;
  padding-left: 20px;
}
.important .vazhno {
  font-size: 18px;
  color: #ff3448;
}
.important .imort {
  width: 400px;
  position: absolute;
}

@media (max-width: 1300px) {
  .wrap {
    width: 100%;
  }

  section {
    padding: 0 15px;
  }
}
@media (max-width: 992px) {
  .wrap, .about__text {
    width: 100%;
  }

  section {
    padding: 0 15px;
  }

  .Contacts__foto {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .wrap {
    width: 100%;
  }

  .form {
    width: 100%;
  }
  .form .btn {
    width: 100%;
  }

  .nav {
    display: none;
  }

  .Contacts__foto {
    width: 100%;
    height: 100%;
  }

  .svaz {
    display: block;
  }

  section {
    padding: 0 15px;
  }

  .photo {
    display: block;
  }

  .photo__foto {
    width: 100%;
  }

  .photo__ser {
    display: none;
  }

  .gamburger {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .gamburger:hover {
    cursor: pointer;
  }

  .gamburger span {
    display: block;
    transition: transform 0.3s;
    width: 40px;
    margin: 5px 0px;
    height: 3px;
    background-color: #292123;
  }

  .menu-active {
    right: 0;
    font-size: larger;
    padding-top: 10%;
  }

  .menu-active * {
    padding: 7px 5px;
  }

  .first {
    transform-origin: left top;
    transform: rotate(45deg) translate(-2px, -2px);
  }

  .middle {
    transform: scale(0);
  }

  .last {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate(0px, -2px);
  }

  .menu {
    background-color: #fff;
    width: 280px;
    height: 100vh;
    z-index: 100;
    position: fixed;
    right: -300px;
    top: 0;
    transition: all 0.5s;
    background: linear-gradient(45deg, #d0d0f5, #f7cdd4);
    opacity: 0.8;
  }

  .menu-active {
    width: 100vw;
  }

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #EFECEC;
  }

  .nav {
    display: block;
    padding-top: 50px;
  }

  .photo__ser {
    display: none;
  }

  .sub {
    position: relative;
  }

  .foto-horse {
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position-y: 0;
  }

  .foto-pets {
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position-y: 0;
  }

  .foto-you-horse {
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position-y: 0;
  }

  .important {
    width: 100%;
  }
  .important .imort {
    width: 300px;
    position: relative;
  }
}
@media screen and (max-width: 1040px) {
  .gamburger {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .gamburger:hover {
    cursor: pointer;
  }

  .gamburger span {
    display: block;
    transition: transform 0.3s;
    width: 40px;
    margin: 5px 0px;
    height: 3px;
    background-color: #292123;
  }

  .menu {
    background-color: #fff;
    width: 280px;
    height: 100vh;
    z-index: 100;
    position: fixed;
    right: -300px;
    top: 0;
    transition: all 0.5s;
    background: linear-gradient(45deg, #d0d0f5, #f7cdd4);
    opacity: 0.8;
  }

  .menu-active {
    right: 0;
    font-size: larger;
    padding-top: 10%;
  }

  .menu-active * {
    padding: 7px 5px;
  }

  .first {
    transform-origin: left top;
    transform: rotate(45deg) translate(-2px, -2px);
  }

  .middle {
    transform: scale(0);
  }

  .last {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate(0px, -2px);
  }

  #main-slider,
.Contact {
    width: 100vw;
  }

  .menu-active {
    width: 100vw;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: block;
    padding-top: 50px;
  }

  .photo__ser {
    display: none;
  }

  .sub {
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
