* {
  box-sizing: border-box;
}
html , body{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
.wrap {
  width: 1300px;
  margin: 0 auto;
}
.main {
  background-image: url("../img/slosadmi/foto9.jpg");
  background-size: cover;
  background-position-y: 50%;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin:0;
  &__item {
    margin-left: 35px;
  }
  &__link {
    text-decoration: none;
    color: #1c1c1c;
    font-family: 'Roboto Slab', serif;
    &:hover {
      color: #0057C9;
    }
  }
}
.sub {
  list-style-type: none;
  display: none;
  position: absolute;
  padding:0;
  &__link {
    text-decoration: none;
    color: #1c1c1c;
    &:hover{
      color: #0057C9;
    }
  }
}
.nav>li:hover .sub {
  display: block;
}
.about {
  margin-bottom: 30px;
  &__text {
    margin: 0 auto;
    width: 1000px;
    font-family: 'Roboto Slab', serif;
  }
}
.gamburger {
  position: sticky;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: none;
}
.photo {
  display: flex;
  justify-content: space-evenly;
  &__ser {
    background-image: url("../img/ser.jpeg");
    width: 400px;
    height: 600px;
    background-size: cover;
  }
  &__foto {
    background-image: url("../img/i6.jpg");
    width: 400px;
    height: 600px;
    background-size: cover;
  }
}
.my {
  background-color: #EFECEC;
}
.Contacts {
  &__foto {
    background-image: url("../img/slosadmi/foto1.jpg");
    width: 1150px;
    height: 640px;
    background-size: cover;
    margin: 0 auto;
    background-position-y: bottom;
  }
}
.section-form {
  padding-top: 122px;
  padding-bottom: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 550px;
  &__input, &__textarea {
    border: none;
    border-bottom: 1px solid;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    outline: none;
  }
  .btn {
    background-color: #000;
    color: #fff;
    border-radius: 100px;
    padding: 20px 40px;
    width: 240px;
    max-width: 100%;
    margin-top: 50px;
  }
}
.svaz {
  display: flex;
  justify-content: space-evenly;
}
.section-portfolio1 {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}
.portfolio {
  display: flex;
  flex-flow:  wrap;
  justify-content: space-evenly;
  div {
    width: 400px;
    height: 600px;
    margin-bottom: 20px;
  }
  .photo1 {
    background-image: url("../img/slosadmi/foto11.jpg");
    background-size: cover;
  }
  .photo2 {
    background-image: url("../img/slosadmi/foto8.jpg");
    background-size: cover;
  }
  .photo3 {
    background-image: url("../img/slosadmi/foto5.jpg");
    background-size: cover;
  }
}

  .footer {
    height: 300px;
    background-color: #EFECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      text-align: center;
      font-size: 15px;
      font-family: 'Roboto Slab', serif;
      flex-basis: 50%;
    }
    .soc {
      text-align: center;
      flex-basis: 50%;
    }
  }

  @media (max-width: 1300px) {
    .wrap {
      width: 100%;
    }
    section {
      padding: 0 15px;
    }
  }
@media  (max-width: 992px){
    .wrap, .about__text{
      width: 100%;
    }
  section {
    padding: 0 15px;
  }
  .Contacts__foto {
    width: 100%;
    height: 100%;
  }
}
/***@media (max-width: 760px) {
  .wrap {
    width:  100%
  }
  .form {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
  .nav {
    display: none;
  }
  .Contacts__foto {
    width: 100%;
    height: 100%;
  }
  .svaz {
    display: block;
  }
  section {
    padding: 0 15px;
  }
  .photo {
    display: block;
  }
  .photo__foto {
    width: 100%;
  }
  .photo__ser {
    display: none;
  }
  .gamburger {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .gamburger:hover {
    cursor: pointer;
  }
  .gamburger span {
    display: block;
    transition: transform 0.3s;
    width: 40px;
    margin: 5px 0px;
    height: 3px;
    background-color: #292123;
  }

  .menu-active {
    right: 0;
    font-size: larger;
    padding-top: 10%;
  }

  .menu-active * {
    padding: 7px 5px;
  }

  .first {
    transform-origin: left top;
    transform: rotate(45deg) translate(-2px, -2px);
  }

  .middle {
    transform: scale(0);
  }

  .last {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate(0px, -2px);
  }
  .menu {
    background-color: #fff;
    width: 280px;
    height: 100vh;
    z-index: 100;
    position: fixed;
    right: -300px;
    top: 0;
    transition: all 0.5s;
    background: linear-gradient(45deg, rgb(208, 208, 245), rgb(247, 205, 212));
    opacity: .8;
  }
}*/

@media screen and (max-width: 1040px) {
  #sidebar {
    position: relative;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
  }

  #logo {
    width: 300px;
    height: auto;
    margin: 0 auto;
  }

  .gamburger {
    width: 50px;
    height: 50px;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .gamburger:hover {
    cursor: pointer;
  }

  .gamburger span {
    display: block;
    transition: transform 0.3s;
    width: 40px;
    margin: 5px 0px;
    height: 3px;
    background-color: #292123;
  }


  .menu {
    background-color: #fff;
    width: 280px;
    height: 100vh;
    z-index: 100;
    position: fixed;
    right: -300px;
    top: 0;
    transition: all 0.5s;
    background: linear-gradient(45deg, rgb(208, 208, 245), rgb(247, 205, 212));
    opacity: .8;
  }

  .menu-active {
    right: 0;
    font-size: larger;
    padding-top: 10%;
  }

  .menu-active * {
    padding: 7px 5px;
  }

  .first {
    transform-origin: left top;
    transform: rotate(45deg) translate(-2px, -2px);
  }

  .middle {
    transform: scale(0);
  }

  .last {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate(0px, -2px);
  }

  #main-slider,
  .Contact {
    width: 100vw;
  }
}
@media screen and (max-device-width: 400px) {
  #sidebar {
    height: 150px;
    width: 100vw;
  }

  .menu-active {
    width: 100vw;
  }
  header {
    display: flex;
    justify-content: space-around;
  }
}






