body {
  margin: 0;
  padding: 0;
}
.menu {
  display: flex;
  &__bar {
    width: 300px;
    background-color: #efecec;
    position: fixed;
    height: 100%;
  }
  &__nav {
    margin-top: 100px;
  }
  &__slider{
    width: 100%;
    margin-left: 300px;
    overflow: hidden;
    .slid1 {
      background-image: url("../img/slid1.jpg");
      width: 980px;
      height: 700px;
      background-repeat: no-repeat;
      background-size: cover;

    }
  }
  &__logo {
    margin-left: 30px;
  }
  &__item {
    list-style-type: none;
    margin-top: 15px;
  }
  &__link {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 15px;
    font-family: 'Lora', serif;
    a.active {
      color: #fc5a61;
    }
    &:hover {
      color: #9c9c9c;
    }
  }
}
footer {
  margin-left: 300px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.text {
  margin-left: 50px;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  margin-top: 100px;
}
.soc {
  margin-top: 100px;
  text-align: center;
  flex-basis: 50%;
}
.fa-brands {
  font-family: 'Font Awesome 6 Brands';
  font-weight: 400;
}